# eclipse
/eclipse
/bin
/*.launch
/.settings
/.metadata
/.classpath
/.project

# idea
/out
/*.ipr
/*.iws
/*.iml
/.idea

# gradle
/build
/.gradle

# vscode
/.vscode

# other
/run

# CurseForge configuration
/curseforge.properties

# Maven configuration
/maven.properties

# Changelog backup
/changelog.bak

#
CLAUDE CODE MYTHOS PLUS MAX ULTRA HD 5+++++
# iris vibecoding allegations expsoed?
# ^ idk what iq this is
